<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dismout/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonys">
</head>



<body>
    리그선택<br><br>
    {% for league in league_list %}
        <button><a href="main/{{league.l_name}}/{{date1|date:'m-d'}}/">{{league.l_name}}</a></button>
        {% endfor %}
        <br><br><br>
    <button><a href="community/">게시판</a></button>
    <button><a href="news/">뉴스</a></button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>