{% if request.session.u_id %}
<div class="login-form" style="margin-right:20px;margin-left:20px;">
    <div><span>{{ request.session.nickname }} 님<span></div> <!--닉네임-->

    <details>
        <summary>메일 보내기</summary>
        받는 사람 : <input id='mail' onChange='getMail()'><br>
        제목 : <input id='tit' onChange='getTitle()'><br>
        내용 <br> <textarea rows="10" cols="30" id='con' onChange='getContant()'></textarea><button>등록</button>
        <div id='result' ><button>메일 보내기</button></div>
        <div id='temp1' style='display:none'></div>
        <div id='temp2' style='display:none'></div>
        <script>    
            function getMail(){
                var a=document.getElementById('mail').value
                document.getElementById("temp1").innerHTML=a
            }
            function getTitle(){
                var a=document.getElementById('tit').value
                document.getElementById("temp2").innerHTML=a
            }
            function getContant(){
                var a=document.getElementById('con').value
                document.getElementById("result").innerHTML
                =`<button><a  href="mailto:`
                +document.getElementById("temp1").innerHTML
                +`?&amp;subject=`
                +document.getElementById("temp2").innerHTML
                +`&amp;body=`
                +a
                +`">매일 보내기</a></button>`   
            }
        </script>
    </details>
    
    <div><a style="text-decoration:none" href="/logout/custom/">>로그아웃</a></div>
    <div class = "d-grid gap-2">
            <div class="btn btn-light col" style="font-size: 13px;font-weight: bold; margin:5px;">
                <a href="/comment/" style= "text-decoration:none"><span>
                    내가 쓴 글
                </span></a>
            </div>
    </div>
    <a href="/community_sorted_date/create_notice/">
        <div class="d-grid gap-2">
            <div class="btn btn-dark" style="font-size: 13px;font-weight: bold;margin:5px;">
                    글쓰기
            </div>
        </div>
    </a>
</div>

{% else %}
<div class="login-form" style="margin-right:20px;margin-left:20px;">
    <form method="post">
        {% csrf_token%}
        <div class="form-group">
        <input type="text" name = "u_id" class="form-control" style="margin:3px;" placeholder="ID입력">
        </div>
        <div class="form-group">
            <input type="password" name ="pw" class="form-control" style="margin:3px;" placeholder="PW입력">
        </div>
        <a href="/signup/custom/">
            > 회원가입</a>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary btn-lg">
                로그인</button>
        </div>
    </form>
</div>
{% endif %}