<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <style>
        
        #test_btn1{
            border-top-left-radius:12px;
            border-bottom-left-radius:12px;
            border-top-right-radius:12px;
            border-bottom-right-radius:12px;
        }
    </style>

    <script language="javascript">
        window.onload=function(){
            var t1 = document.getElementById("Premier");
            var t2 = document.getElementById("etc");
    
            if("{{l_name}}"=="Premier League"){
                
                t1.style.display="block";
                t2.style.display="none";
            }
            else{
                
                t1.style.display="none";
                t2.style.display="block";
            }
        }
        
            
    </script>
</head>

<body>
    {% include "soccer/soccer_info_nav.html" %} 
    <center>
    <div class="container" style = "margin:50px; ">
        
    
    
        <div id = "Premier" style=display:none>
            <div style="position:relative;left:-260px;top:-170px;">
                <div id="layer1" style="width:389px; height:322px; height:170px; position:absolute; left:300px; top:200px; z-index:-1;">
                    <a href="Arsenal/">
                        <button type="button" id="test_btn1">{{list.c_name}}
                            <img width=170 height=170 src="{% static './club_photo/Arsenal.jpg' %}"><br>Arsenal
                        </button>
                    </a>    

                </div>

                <div id="layer2" style="width:389px; height:322px; position:absolute; left:500px; top:200px; z-index:-1;">
                    <a href="Aston Villa/">
                        <button type="button" id="test_btn1">{{list.c_name}}
                            <img width=170 height=170 src="{% static './club_photo/Aston Villa.jpg' %}"><br>Aston Villa
                        </button>
                    </a>
                </div>
                
                <div id="layer3" style="width:389px; height:322px; position:absolute; left:700px; top:200px; z-index:-1;">
                    <a href="Brentford/">
                        <button type="button" id="test_btn1">{{list.c_name}}
                            <img width=170 height=170 src="{% static './club_photo/Brentford.jpg' %}"><br>Brentford
                        </button>
                    </a>
                </div>
                
                <div id="layer4" style="width:389px; height:322px; position:absolute; left:900px; top:200px; z-index:-1;">
                    <a href="Brighton and Hove Albion/">
                        <button type="button" id="test_btn1">{{list.c_name}}
                            <img width=170 height=170 src="{% static './club_photo/Brighton and Hove Albion.jpg' %}"><br>Brighton & Hove Albion
                        </button>
                    </a>
                </div>
            
                <div id="layer5" style="width:389px; height:322px; position:absolute; left:1100px; top:200px; z-index:-1;">
                <a href="Burnley/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Burnley.jpg' %}"><br>Burnley
                    </button>
                </a>
                </div>

                <div id="layer6" style="width:389px; height:322px; position:absolute; left:300px; top:400px; z-index:-1;">
                <a href="Chealsea/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Chealsea.jpg' %}"><br>Chealsea
                    </button>
                </a>
                </div>
    
                <div id="layer7" style="width:389px; height:322px; position:absolute; left:500px; top:400px; z-index:-1;">
                <a href="Crystal Palace/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Crystal Palace.jpg' %}"><br>Crystal Palace
                    </button>
                </a>
                </div>
            
                <div id="layer8" style="width:389px; height:322px; position:absolute; left:700px; top:400px; z-index:-1;">
                <a href="Everton/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Everton.jpg' %}"><br>Everton
                    </button>
                </a>
                </div>
            
                <div id="layer9" style="width:389px; height:322px; position:absolute; left:900px; top:400px; z-index:-1;">
                <a href="Leeds United/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Leeds United.jpg' %}"><br>Leeds United
                    </button>
                </a>
                </div>
            
                <div id="layer10" style="width:389px; height:322px; position:absolute; left:1100px; top:400px; z-index:-1;">
                <a href="Leicester City/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Leicester City.jpg' %}"><br>Leicester City
                    </button>
                </a>
                </div>

                <div id="layer11" style="width:389px; height:322px; position:absolute; left:300px; top:600px; z-index:-1;">
                <a href="Liverpool/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Liverpool.jpg' %}"><br>Liverpool
                    </button>
                </a>
                </div>
        
                <div id="layer12" style="width:389px; height:322px; position:absolute; left:500px; top:600px; z-index:-1;">
                <a href="Manchester city/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Manchester city.jpg' %}"><br>Manchester city
                    </button>
                </a>
                </div>
                
                <div id="layer13" style="width:389px; height:322px; position:absolute; left:700px; top:600px; z-index:-1;">
                <a href="Manchester United/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Manchester United.jpg' %}"><br>Manchester United
                    </button>
                </a>
                </div>
                
                <div id="layer14" style="width:389px; height:322px; position:absolute; left:900px; top:600px; z-index:-1;">
                <a href="Newcastle United/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Newcastle United.jpg' %}"><br>Newcastle United
                    </button>
                </a>
                </div>
                
                <div id="layer15" style="width:389px; height:322px; position:absolute; left:1100px; top:600px; z-index:-1;">
                <a href="Norwich City/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Norwich City.jpg' %}"><br>Norwich City
                    </button>
                </a>
                </div>


         
                <div id="layer16" style="width:389px; height:322px; position:absolute; left:300px; top:800px; z-index:-1;">
                    <a href="Southampton/">
                        <button type="button" id="test_btn1">{{list.c_name}}
                            <img width=170 height=170 src="{% static './club_photo/Southampton.jpg' %}"><br>Southampton
                    </a>
                </div>
            
                <div id="layer17" style="width:389px; height:322px; position:absolute; left:500px; top:800px; z-index:-1;">
                <a href="Tottenham Hotspur/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Tottenham Hotspur.jpg' %}"><br>Tottenham Hotspur
                    </button>
                </a>
                </div>
                    
                <div id="layer18" style="width:389px; height:322px; position:absolute; left:700px; top:800px; z-index:-1;">
                <a href="Watford/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Watford.jpg' %}"><br>Watford
                    </button>
                </a>
                </div>
                    
                <div id="layer19" style="width:389px; height:322px; position:absolute; left:900px; top:800px; z-index:-1;">
                <a href="West Ham United/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/West Ham United.jpg' %}"><br>West Ham United
                    </button>
                </a>
                </div>
                    
                <div id="layer20" style="width:389px; height:322px; position:absolute; left:1100px; top:800px; z-index:-1;">
                <a href="Wolverhampton Wanderers/">
                    <button type="button" id="test_btn1">{{list.c_name}}
                        <img width=170 height=170 src="{% static './club_photo/Wolverhampton Wanderers.jpg' %}"><br>Wolverhampton
                    </button>
                </a>
                </div>
            </div>               
        </div>
                

        <div id = "etc" style="display:none">
            {% for list in club_list %}
                <button><a href="{{list.c_name}}/">{{list.c_name}}</a></button>
            {% endfor %}
        
        </div>
            
    </div>
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>