<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notice-list</title>
</head>
<body>
    게시판 목록<br><br>
    <table>

        
    <hr>
    {% comment %} <h1>
        <button><a href="create_notice/">최신순</a></button>
        <button><a href="create_notice/">추천순</a></button>
        <button><a href="create_notice/">댓글순</a></button>
    </h1> {% endcomment %}
        <table border = '1'>
            <th>게시글 번호</th>
            <th >제목</th>
            <th>업로드 날짜</th>

            {% for d in write_date_list %}
            <tr>
                <td>{{ d.t_num }}</td>
                <td><a href="{{d.pk}}/">{{ d.title }}</a></td>
                <td>{{ d.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <table border = '1'>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>추천수</th>
    
            {% for o in good_list %}
            <tr>
                <td>{{ o.t_num }}</td>
                <td><a href="{{o.pk}}/">{{ o.title }}</a></td>
                <td>{{ o.good }}</td>
            </tr>
            {% endfor %}
        </table>
        

        <table border = '1'>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>댓글수</th>
    
            {% for board_num, board_data in zip_board %}
            <tr>
                <td>{{ board_num.board_title }}</td>
                <td><a href='{{board_data.pk}}'>{{ board_data.title }}</a></td>
                <td>{{ board_num.count_board }}</td>
            </tr>
            {% endfor %}
        </table>

    </table>
    <button>
        <a href="create_notice/">작성</a>
    </button>
</body>
</html>