{% if request.session.u_id_col %} 
<form method = 'POST'>
    {% csrf_token %}
    <label for ='input_comment'>댓글을 입력하세요(60자 이하)</label>
    <br/>
    <input type="text" name = "input_comment"/>
    <input type="submit" value = "작성"/> 
</form>

{% else %}
<form method = 'POST'>
    {% csrf_token %}
    <label for ='input_comment'>댓글을 입력하세요(60자 이하)</label>
    <br/>
    <input type="text" name = "input_comment" placeholder= "로그인이 필요한 기능입니다." disabled/>
    <input type="submit" value = "작성" disabled/>
</form>

{% endif %}

<ul>
{% for comment in comment_list %}
    <ol>{{comment.u_id_col.u_name}} /{{comment.comment}}/ </ol>
{% endfor %}
</ul>
